@charset "UTF-8";

:root{
    --verde: #49a09d;
    --lilas: #5f2c82;
}

@media screen and (min-width: 769px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to bottom, var(--verde), var(--lilas))
    }
    
    section#loginscreen{
        width: 80vw;
    }

    section#loginscreen > div#picture {
        float: left;
        width: 30%;
        height: 100%;
    }

    section#loginscreen > div#formulary{
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 993px){
    body{
        background-image: linear-gradient(to bottom, var(--verde), var(--lilas))
    }
    
    section#loginscreen{
        width: 950px;
    }

    section#loginscreen > div#picture{
        float: right;
        width: 50%;
        height: 100%;
    }

    section#loginscreen > div#formulary{
        float:left;
        width: 50%;
    }
}