@charset "UTF-8";

:root{
    --verde: #49a09d;
    --lilas: #5f2c82;
}

*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    background-color: var(--lilas);
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    width: 250px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#picture{
    background: var(--lilas) url(../pictures/metal.jpg) no-repeat left bottom;
    background-size: cover;
    display: block;
    height: 200px;
}

section#login > div#form{
    display: block;
    padding: 10px;

}